form {
  border: 1px solid #545454;
  border-radius: 3px;
  padding: 40px;
}

input {
  padding: 5px 20px;
  width: 100%;
  line-height: 16px;
  margin: 10px 0;
}

textarea {
  width: 100%;
}

#results {
  dl {
    padding-left: 20px;
    line-height: 1.5em;
  }

  dt {
    padding-top: 10px;
  }

  dd {
    padding-left: 20px;
  }
}
